@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
html, body, h1 {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden hidden;
  font-family: 'Montserrat', sans-serif;
}

#app {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}

.loadbar
{
    width: 100%;
    background-color: rgba(36, 36, 36, 0.9);
    height: 10px;

    margin-left: 2px;
    margin-right: 3px;

    margin-top: 5px;
    margin-bottom: 5px;

    overflow: hidden;

    position: fixed;
    bottom: 0px;

    display: block;
}

.thingy
{
    width: 0%;
    background-color: #ffaf00;
    height: 20px;

    position: absolute;
}

.footer {
  width: 100%;
}

.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -99;
}